html,body,iframe{width:100%;height:100%;min-height:100%;margin:0;padding:0;border:0;background:transparent}
body,iframe{overflow-y:auto}
body{-webkit-overflow-scrolling:touch;min-width:320px}
a{background:transparent;text-decoration:none}
p{margin:0;padding:0}
:focus{outline:0}
b, strong, .bold{font-weight:bold}
h1{font-size:2em;margin:0.67em 0}
img{border:0;padding:0;margin:0;display:block}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.9em;font-size:10px}
sub{bottom:-0.25em}
table{border-collapse:collapse;border-spacing:0;width:100%;empty-cells:show}
td{text-align:left}
svg{width:100%;height:100%;pointer-events:none;display:block}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}  

header,main,section,footer{position:relative;margin:0;padding:0;border:0;outline:0;box-sizing:border-box}
section{min-height:24px}

/* = HELPERS
----------------------------*/
.fullW{width:100%}
.autoW{width:auto}
.fullH{height:100%}
.tog{cursor:pointer}
.clear{clear:both}

.Sort{display:inline-block}
.ForceWrap{white-space:-moz-pre-wrap !important;white-space:-webkit-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;white-space:normal}

.Cel,.Col1,.Col2,.Col3,.Col3-2,.Col4,.Col4-3,.Col5,.Col5-4{position:relative;display:inline-block;box-sizing:border-box;top:0;vertical-align:top}
.Col1.middle,.Col2.middle,.Col3.middle,.Col4.middle,.Col5.middle{vertical-align:middle}
.Cel1,.Col1{width:100%}
.Cel2,.Col2{width:50%}
.Cel3,.Col3{width:33.3%}
.Cel3-2,.Col3-2{width:66.6%}
.Cel4,.Col4{width:25%}
.Cel4-3,.Col4-3{width:75%}
.Cel5,.Col5{width:20%}
.Cel5-4,.Col5-4{width:80%}

.R1-1,.R4-3,.R16-9,.R2-1,.R3-1,.R4-1,.R8-1{position:relative;width:100%}
.R1-1{padding-top:100%}
.R4-3{padding-top:75%}
.R16-9{padding-top:56.25%}
.R2-1{padding-top:50%}
.R3-1{padding-top:30%}
.R4-1{padding-top:25%}
.R8-1{padding-top:12.5%}
.R1-1 .RInner,.R4-3 .RInner,.R16-9 .RInner,.R2-1 .RInner,.R3-1 .RInner,.R4-1 .RInner,.R8-1 .RInner{position:absolute;top:0;left:0;bottom:0;right:0}

@media all and (max-width:1200px){
	.Magic1200{display:block}
	.Magic1200.Col2, .Magic1200.Col3, .Magic1200.Col3-2, .Magic1200.Col4, .Magic700.Col4-3, .Magic1200.Col5{width:100%}
	.Magic1200.Cel{width:100%}
}
@media all and (max-width:900px){
	.Magic900{display:block}
	.Magic900.Col2, .Magic900.Col3, Magic900.Col3-2, .Magic900.Col4, .Magic700.Col4-3, .Magic900.Col5{width:100%}
	.Magic900.Cel{width:100%}
}
@media all and (max-width:700px){
	.Magic700{display:block}
	.Magic700.Col2, .Magic700.Col3, .Magic700.Col3-2, .Magic700.Col4, .Magic700.Col4-3, .Magic700.Col5{width:100%}
	.Magic700.Cel{width:100%}
}
@media all and (max-width:500px){
	.Magic500{display:block}
	.Magic500.Col2, .Magic500.Col3, .Magic500.Col3-2, .Magic500.Col4, .Magic500.Col4-3, .Magic500.Col5{width:100%}
	.Magic500.Cel{width:100%}
}

/* = DropDown
----------------------------*/
ul.DropDown{list-style:none;padding:0;margin:0}
ul.DropDown li{display:block;position:relative;float:left}
ul.DropDown li ul{display:none;padding:0;margin-left:-5px}
ul.DropDown ul li{display:block;padding:5px 10px;text-decoration:none;white-space:nowrap}
ul.DropDown li:hover ul,ul.DropDownOn li ul{display:block;position:absolute}
ul.DropDown li:hover li,ul.DropDownOn li ul li{float:none}

.rot45{-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.rot90{-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.rot135{-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);transform:rotate(135deg)}
.rot180{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.rot225{-ms-transform:rotate(225deg);-webkit-transform:rotate(225deg);transform:rotate(225deg)}
.rot270{-ms-transform:rotate(270deg);-webkit-transform:rotate(270deg);transform:rotate(270deg)}
.rot315{-ms-transform:rotate(315deg);-webkit-transform:rotate(315deg);transform:rotate(315deg)}

.center{text-align:center}
.right{text-align:right}
.left{text-align:left}
.top{vertical-align:top}
.middle{vertical-align:middle}
.bottom{vertical-align:top}
.floatleft{float:left}
.floatright{float:right}

.of,.of_hov:hover{opacity:1}
.o9,.o9_hov:hover{opacity:0.9}
.o8,.o8_hov:hover{opacity:0.8}
.o7,.o7_hov:hover{opacity:0.7}
.o6,.o6_hov:hover,.btn_hov:hover{opacity:0.6}
.o5,.o5_hov:hover{opacity:0.5}
.o4,.o4_hov:hover{opacity:0.4}
.o3,.o3_hov:hover{opacity:0.3}
.o2,.o2_hov:hover{opacity:0.2}
.o1,.o1_hov:hover{opacity:0.1}
.o0,.o0_hov:hover{opacity:0}

.point,.LinkPop,.NewWindow,.Link{cursor:pointer}
.nopoint{cursor:default !important}
.noselect, .CalDay__Num, .CalDay__Lbl{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.hide{display:none !important}
.show{display:block !important}
.shadBox{box-shadow:2px 3px 15px 1px rgba(0,0,0,0.2)}

#Modal,#ModalCover{position:fixed;z-index:997;width:100%;height:100%;top:0}
#Modal{padding:10px;box-sizing:border-box;z-index:998}
#ModalClose{z-index:999}
#ModalCover{opacity:0.8}
#ModalBox{position:relative;left:50%;top:50%;max-width:100%;max-height:100%;box-shadow:0 0 50px 0 rgba(0,0,0,0.4);border-radius:5px;border-width:1px;border-style:solid;box-sizing:border-box}
.DivThumb,.CLEL,.ModalBox--Image{background-repeat:no-repeat;background-position:center;background-size:contain}

#ModalMenu{position:absolute;z-index:2;box-sizing:border-box;padding:3px;width:calc(100% - 40px);height:40px;top:1px}
#ModalStage{position:relative;height:100%;overflow-y:auto}
#ModalStage.StageWithMenu{height:calc(100% - 40px);top:40px}

.shim5,.shimtop5{margin-top:5px}
.shim5{margin-bottom:5px}
.shim10,.shimtop10{margin-top:10px}
.shim10{margin-bottom:10px}
.shim20,.shimtop20{margin-top:20px}
.shim20{margin-bottom:20px}
.shim30,.shimtop30{margin-top:30px}
.shim30{margin-bottom:30px}
.shim40,.shimtop40{margin-top:40px}
.shim40{margin-bottom:40px}
.shim50,.shimtop50{margin-top:50px}
.shim50{margin-bottom:50px}
.shim60,.shimtop60{margin-top:60px}
.shim60{margin-bottom:50px}
.shim70,.shimtop70{margin-top:70px}
.shim70{margin-bottom:70px}

.LR98,.L98,.R98,.LR95,.LR90,.LR85,.LR80,.LR75,.LR70,.LR65,.LR60,.LR55,.LR50,.LR45,.LR33,.LR25{position:relative;box-sizing:border-box}
.L98{padding-left:0.625%}
.R98{padding-right:0.625%}
.LR98{padding:0 1.25%}
.LR95{padding:0 3.125%}
.LR90{padding:0 6.25%}
.LR85{padding:0 9.375%}
.LR80{padding:0 12.5%}
.LR75{padding:0 15.625%}
.LR70{padding:0 18.75%}
.LR65{padding:0 21.875%}
.LR60{padding:0 25%}
.LR55{padding:0 28.125%}
.LR50{padding:0 31.25%}
.LR45{padding:0 34.375%}
.LR33{padding:0 41.625%}
.LR25{padding:0 46.875%}
.LR5{padding:0 5px}
.LR2{padding:0 2px}

@media all and (max-width: 1250px){
	.L98{padding-left:0.5%}
	.R98{padding-right:0.5%}
	.LR98{padding:0 1%}
	.LR95{padding:0 2.5%}
	.LR90{padding:0 5%}
	.LR85{padding:0 7.5%}
	.LR80{padding:0 10%}
	.LR75{padding:0 12.5%}
	.LR70{padding:0 15%}
	.LR65{padding:0 17.5%}
	.LR60{padding:0 20%}
	.LR55{padding:0 22.5%}
	.LR50{padding:0 25%}
	.LR45{padding:0 27.5%}
	.LR33{padding:0 33.3%}
	.LR25{padding:0 37.5%}
}
@media all and (max-width: 750px){
	.L98{padding-left:0.25%}
	.R98{padding-right:0.25%}
	.LR98{padding:0 .5%}
	.LR95{padding:0 1.25%}
	.LR90{padding:0 2.5%}
	.LR85{padding:0 3.75%}
	.LR80{padding:0 5%}
	.LR75{padding:0 6.25%}
	.LR70{padding:0 7.5%}
	.LR65{padding:0 8.75%}
	.LR60{padding:0 10%}
	.LR55{padding:0 11.25%}
	.LR50{padding:0 12.5%}
	.LR45{padding:0 13.75%}
	.LR33{padding:0 16.65%}
	.LR25{padding:0 18.75%}
}

/* = TEXT
----------------------------*/
.txt_headline,.txt_subhead,label,.txt_copytext,.txt_lbl{font-family:Helvetica, Arial, Verdana, san-serif}
h1, h2, h3, h3, h4, h5{font-weight:normal;line-height:.7em;margin:0;padding:0}
h1,.txt_headline{font-size:1.5em}
h2,.txt_subhead{font-size:1.2em}
h3,h4,h5,.txt_copytext{font-size:.9em}
label,.txt_lbl{font-size:.8em}
label{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}

.ROW0,.ROW0P{background:transparent}
.ROW1,.ROW1P{background-color:rgba(55,55,55,0.1)}
.ROW0:hover,.ROW0P:hover,.ROW1:hover,.ROW1P:hover{background-color:rgba(55,55,55,0.2)}
.ROW1P,.ROW0P,.pointer{cursor:pointer}

/* = TABLES
----------------------------*/
.NOWRAP{overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all; word-break:break-word;-ms-hyphens:auto;-moz-hyphens:auto;-webkit-hyphens:auto;hyphens:auto}
.TDPadM td{padding:5px}
.TDPadS td, .TDPad2 td{padding:2px}
.TDIco{width:32px;text-align:center}

@media all and (min-width:1000px){
	.TDPadM td{padding:7px}
	.TDPadS td{padding:3px}
}
@media all and (min-width:1200px){
	.TDPadM td{padding:9px}
	.TDPadS td{padding:4px}
}

/* = Elements
----------------------------*/
.Btn16,.Btn24,.Btn32,.Btn36,.Btn48,.Ico16,.Ico24,.Ico32,.Ico36,.Ico48,.BtnSubmit{position:relative;display:inline-block;box-sizing:border-box;border-radius:.3em}
.Btn16 div,.Btn24 div,.Btn32 div,.Btn36 div,.Btn48 div,.Ico16 div,.Ico24 div,.Ico36 div,.Ico48 div{height:100%;box-sizing:border-box}
.Ico16,.Btn16{width:16px;height:16px;padding:3px}
.Ico24,.Btn24{width:24px;height:24px;padding:4px}
.Ico32,.Btn32{width:32px;height:32px;padding:5px}
.Ico36,.Btn36{width:36px;height:36px;padding:6px}
.Ico48,.Btn48{width:48px;height:48px;padding:8px}
.BtnSubmit{padding:5px 6px 6px 6px;font-weight:bold;white-space:nowrap;text-decoration:none;user-select:none}
.BtnSubmitInactive{opacity:0.3;pointer-events:none}
.BtnSubmitActive{padding-left:24px}
.BtnSubmitIco{position:absolute;width:14px;height:14px;left:5px;top:50%;margin-top:-7px;pointer-events:none}

.BtnClose{position:absolute;box-sizing:border-box;padding:3px;width:40px;height:40px;z-index:3;border-radius:50%;right:-8px;top:-8px}
.BtnClose div{pointer-events:none}
.BtnSubmit, .BtnClose,.Btn16,.Btn24,.Btn32,.Btn36,.Btn48{cursor:pointer}

.spin{width:100%;height:100%;-webkit-animation:spin 2s linear infinite;-moz-animation:spin 2s linear infinite;animation:spin 2s linear infinite}
@-moz-keyframes spin{100%{-moz-transform:rotate(360deg)}}
@-webkit-keyframes spin{100%{-webkit-transform:rotate(360deg)}}
@keyframes spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
.SpokeLoadingInitial{display:none}
.StageLoader{left:50%;margin-left:-24px;top:50%;margin-top:-24px}

.ImgThumb,.DivThumb,.CLEL,.VidThumb{position:relative;width:100%;box-sizing:border-box}
.ImgThumb,.CLEL{height:auto}
.VidThumb{background-color:#000;border:1px solid #000}
.VidThumbMenu{position:absolute;z-index:1}
.VidThumbMenu .Btn32{margin-right:5px}
.VidThumb,.DivThumb,.CLEL{background-repeat:no-repeat;background-position:center;background-size:cover}

.VidWrapper,.VidPlayer{position:relative;width:100%;height:100%}
.VidThumbRes{width:50px}

.ShadowBar{position:relative;border-bottom:1px solid rgba(0,0,0,.15);height:4px;-webkit-box-shadow:0 4px 13px rgba(0,0,0,.1);-moz-box-shadow:0 4px 13px rgba(0,0,0,.1);box-shadow:0 4px 13px rgba(0,0,0,.1)}

.SpriteBox{position:relative;width:100%;overflow:hidden}
.Sprite{position:absolute;width:100%;height:100%;top:0;left:0;background-position:0 0;background-repeat:no-repeat;background-size:contain}

/* = SpokeModules
----------------------------*/
.Pag{position:relative;display:inline-block;min-height:32px;background:transparent}
.Pag .Btn24,.Pag .Ico24{margin:0 4px}
.Pag__Link, .Pag__Link--Inactive{padding:6px 1px;font-family:Helvetica, Arial, sans-serif;font-size:11px;line-height:12px;font-weight:bold;text-decoration:none;vertical-align:top;text-align:center}
.Pag__Page{width:auto;font-size:11px;height:24px;padding:0;vertical-align:top}
.Pag__Label, .Pag__Extended{display:inline-block;white-space:nowrap;vertical-align:top;margin-top:5px}
.Pag__Extended{margin:0 3px}

.SpokeSearch{position:relative;height:32px}
.SpokeSearchFld{width:calc(100% - 32px);height:32px;border-radius:4px 0 0 4px;border-right-width:0}
.SpokeSearchBtn{position:absolute;z-index:2;width:32px;height:32px;top:0;right:0;padding:7px;box-sizing:border-box;cursor:pointer;border-radius:0 4px 4px 0}
.SpokeSearchAutoC{position:absolute;z-index:2;left:0;right:32px;top:31px;border-radius:0 0 5px 5px}

/* = FORMS
----------------------------*/
input, select, textarea{width:100%;padding:6px 3px 6px 4px;border-width:1px;border-style:solid;border-radius:4px;font-family:Helvetica,Arial,sans-serif;font-size:14px;letter-spacing:.2px;box-shadow:1px 2px 4px 1px rgba(19,19,19,0.15);box-sizing:border-box}
input{padding-left:6px}
input, select{height:32px}
textarea{min-height:32px}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0}
.input:focus, select:focus, textarea:focus{outline-color:transparent;outline-style:none}

/* Search DateRange
----------------------------*/
.SearchV2{position:relative;display:inline-block;width:75px;padding-right:30px;height:36px;margin-top:3px}
.SearchV2Expanded{width:250px!important}
.SearchV2_btn{position:absolute;width:20px;height:20px;left:100%;margin-left:-18px;margin-top:6px;cursor:pointer}
.SearchV2_fld,.DateRangeV1_fld,.LineField{position:relative;width:100%;padding:4px 4px 2px 4px;background-color:transparent;border:0;border-bottom-width:2px;border-bottom-style:solid;box-sizing:border-box}
.SearchV2_fld:focus,.DateRangeV1_fld:focus,.LineField:focus{outline-color:transparent;outline-style:none}

.DateRangeV1{position:relative;display:inline-block;padding-right:34px;width:165px}
.DateRangeV1_fld{width:46%;display:inline-block;margin-left:5px;text-align:center}
.DateRangeV1_btn{position:absolute;width:20px;height:20px;left:100%;margin-left:-36px;top:0;margin-top:-3px;cursor:pointer}
.DateRangeV1 .picker{left:100%;margin-left:-40px;margin-top:2px}
